
.App {
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  color: white;
 
}

.Graph{
  flex: 50%;
  text-align: center;
}

.Panel {
  flex: 50%;
}

@media (max-width: 400px) {
  .Graph, .Panel {
    flex: 100%;
  }
}

